name: "Reusable Build & Distribute"

# This workflow only runs when called by another workflow
on:
  workflow_call:
    inputs:
      flavor:
        required: true
        type: string
    secrets:
      GCP_SA_KEY:
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: subosito/flutter-action@v2
        with:
          channel: 'stable'

      - name: Install Dependencies
        run: flutter pub get

      - name: Build APK
        run: flutter build apk --target lib/main-${{inputs.flavor}} --debug

      - name: Upload to Firebase
        uses: w9jds/firebase-action@v11.23.0
        with:
          # Note: Build mode affects naming (debug vs release)
          args: >
            appdistribution:distribute build/app/outputs/flutter-apk/app-debug.apk 
            --app ${{secrets.FIREBASE_APP_ID}} 
            --project ${{secrets.PROJECT_ID}}
            --groups "internal-testers"
        env:
          GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}