name: Flutter CI/CD

on:
  push:
    branches: [ dev, stage, uat, main ]

  workflow_dispatch:

jobs:
  # Logic for DEV
  dev-distribute:
    if: github.ref_name == 'dev'
    uses: ./.github/workflows/_build_and_distribute.yaml
    with:
      flavor: dev
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
      FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
      PROJECT_ID: ${{ secrets.PROJECT_ID }}


  # Logic for STAGE
  stage-distribute:
    if: github.ref_name == 'stage'
    uses: ./.github/workflows/_build_and_distribute.yaml
    with:
      flavor: stage
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
      FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
      PROJECT_ID: ${{ secrets.PROJECT_ID }}

  # Logic for UAT
  uat-distribute:
    if: github.ref_name == 'uat'
    uses: ./.github/workflows/_build_and_distribute.yaml
    with:
      flavor: uat
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
      FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
      PROJECT_ID: ${{ secrets.PROJECT_ID }}

  # Logic for PRODUCTION
  prod-distribute:
    if: github.ref_name == 'main'
    uses: ./.github/workflows/_build_and_distribute.yaml
    with:
      flavor: prod
    secrets:
      GCP_SA_KEY: ${{ secrets.GCP_SA_KEY }}
      FIREBASE_APP_ID: ${{ secrets.FIREBASE_APP_ID }}
      PROJECT_ID: ${{ secrets.PROJECT_ID }}