name: Flutter CI/CD

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build-android:
    name: Build Android APK
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Flutter
        uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.38.8'
          channel: stable

      - name: Install dependencies
        run: flutter pub get

      - name: Analyze code
        run: flutter analyze

      - name: Run tests
        run: flutter test

      - name: Build APK
        run: flutter build apk --debug

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: android-apk
          path: build/app/outputs/flutter-apk/app-debug.apk

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Distribute APK via Firebase
        run: |
          # Save the secret to a temporary file
          echo '${{ secrets.GCP_SA_KEY }}' > service-account.json

          # Point Firebase to that file
          export GOOGLE_APPLICATION_CREDENTIALS=service-account.json
          firebase appdistribution:distribute build/app/outputs/flutter-apk/app-debug.apk \
                --app "${{ secrets.FIREBASE_APP_ID }}" \
                --project "${{ secrets.PROJECT_ID }}" \
                --groups "testers" \
                --sdkconfig service-account.json
